{% extends "base.html" %}
{% block content %}
    <h1>
      TODO List
{#      <a href="{% url "app:task-create" %}" class="btn btn-primary link-to-page">#}
{#        Add task#}
{#      </a>#}
    </h1>

    {% if task_list %}
      <ul>
        {% for task in task_list %}
          <li>
            <h6 class="font-weight-bold">
              {{ task.content }}

              {% if task.done %}
                <span class="text-success">Done</span>
              {% else %}
                <span class="text-danger">Not done</span>
              {% endif %}
            </h6>

            <p>
              Created: {{ task.datetime }}

              {% if task.deadline_datetime %}
                <span class="text-info">
                  Deadline:
                  {{ task.deadline_datetime }}
                </span>
              {% endif %}
            </p>

            <p>
              Tags:

              {% for tag in task.tags.all %}
              {{ tag.name }}
              {% endfor %}

              <a class="font-weight-bold" href="task_list.html">
                Update
              </a>
              <a class="font-weight-bold" href="task_list.html">
                Delete
              </a>
            </p>
          </li>

        {% endfor %}
      </ul>
    {% else %}
      <p>There are no dishes in kitchen</p>
    {% endif %}
{% endblock %}
